{% extends 'base.html' %}

{% block title %}
Виды направлений
{% endblock %}
{% block body %}
<div class="container px-4 py-5" id="hanging-icons1">
    <h2 class="pb-2 border-bottom"><ya-tr-span data-index="32-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Hanging icons" data-translation="Направления" data-ch="0" data-type="trSpan" data-selected="false"><center>Виды направлений.</center></ya-tr-span></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><ya-tr-span data-index="30-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Featured title" data-translation="Рекомендуемое название" data-ch="0" data-type="trSpan"><font color="orange"><center>Цифровая гигиена</center></font></ya-tr-span></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Слюсарева Марина Валерьявна<br><br><center><b>Расписание занятий:</b></center>Понедельник (13:45 - 15:25, 15:55 - 17:35)<br>Вторник (13:45 - 15:25, 15:55 - 17:35)<br>Среда (15:00 - 16:40)<br>Пятница (13:45 - 15:25)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 36<br>кол-во детей в группе - 12<br>кол-во групп - 3</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><center><font color="orangered">Промышленный дизайн</font></center></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Дьячкова Елена Станиславовна<br><br><center><b>Расписание занятий:</b></center>Вторник (15:55 - 17:30)<br>Среда (15:55 - 17:30)<br>Четверг (15:55 - 17:30)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 36<br>кол-во детей в группе - 12<br>кол-во групп - 3</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><center><font color="blue">Web-разработка</font></center></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Марейчева Лариса Ивановна<br><br><center><b>Расписание занятий:</b></center>Понедельник (15:00 - 16:40)<br>Вторник (15:55 - 17:30), (15:55 - 17:30)<br>Четверг (15:00 - 16:40)<br>Пятница (15:00 - 16:40)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 24<br>кол-во детей в группе - 12<br>кол-во групп - 2</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
          </div>
      </div>
  </div>
<div>
  <h2 class="pb-2 border-bottom"><ya-tr-span data-index="32-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Hanging icons" data-translation="Направления" data-ch="0" data-type="trSpan" data-selected="false"></ya-tr-span></h2>
</div>
<div class="container" id="hanging-icons2">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><ya-tr-span data-index="30-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Featured title" data-translation="Рекомендуемое название" data-ch="0" data-type="trSpan"><font color="blue"><center>Программирование <br>на C-языках</center></font></ya-tr-span></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагоги-лаборанты:</b></center>Мезенцев Константин Алексеевич<br></center>Казаков Дмитрий Никитович<br></center>Пожидаева Валерия Андреевна<br><br><center><b>Расписание занятий:</b></center>Понедельник (15:00 - 16:40)<br>Вторник (15:00 - 16:40)<br>Пятница (15:00 - 16:40)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 36<br>кол-во детей в группе - 12<br>кол-во групп - 3</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><center><font color="purple">Разработка VR/AR приложений</font></center></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Полухина Ирина Владимировна<br><br><center><b>Расписание занятий:</b></center>Понедельник (15:55 - 17:30)<br>Среда (13:45 - 15:25)<br>Четверг (15:55 - 17:30)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 36<br>кол-во детей в группе - 12<br>кол-во групп - 3</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><center><font color="red">Робототехника</font></center></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Рудаков Андрей Анатольевич<br><br><center><b>Расписание занятий:</b></center>Понедельник (15:50 - 16:40)<br>Вторник (15:55 - 17:30), (15:55 - 17:30)<br>Четверг (15:00 - 16:40)<br>Пятница (15:00 - 16:40)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 24<br>кол-во детей в группе - 12<br>кол-во групп - 2</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
  </div>
</div>
<div>
  <h2 class="pb-2 border-bottom"><ya-tr-span data-index="32-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Hanging icons" data-translation="Направления" data-ch="0" data-type="trSpan" data-selected="false"></ya-tr-span></h2>
</div>
<div class="container" id="hanging-icons3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><ya-tr-span data-index="30-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Featured title" data-translation="Рекомендуемое название" data-ch="0" data-type="trSpan"><center><font color="darkorange">Программирование <br>на языке Python</font></center></ya-tr-span></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог-лаборант:</b></center>Петраков Александр Александрович<br><br><center><b>Расписание занятий:</b></center>Суббота (10:40 - 13:20)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 24<br>кол-во детей в группе - 12<br>кол-во групп - 2</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><center><font color="blue">Мобильная разработка</font></center></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Щеглов Владимир Александрович<br><br><center><b>Расписание занятий:</b></center>Понедельник (16:30 - 18:00)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 24<br>кол-во детей в группе - 12<br>кол-во групп - 2</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h2><center><font color="saddlebrown">Шахматы</font></center></h2>
          <p><ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Paragraph of text beneath the heading to explain the heading. " data-ch="0" data-type="trSpan"><center><b>Педагог:</b></center>Полосуев Владимир Сергеевич<br><br><center><b>Расписание занятий:</b></center>Понедельник-Пятница (15:00 - 18:00)<br><br><center><b>Информация о группах</b></center>общее кол-во детей - 12<br>кол-во детей в группе - 12<br>кол-во групп - 1</ya-tr-span><ya-tr-span data-index="31-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan"></ya-tr-span></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}